form {
  position: relative;

  label {
    position: relative;
  }

  .input {
    position: relative;
  }

  label.error {
    background: transparentize($red, 0.3);
    color: white;
    width: 60%;
    padding: 0.5em;
    font-size: 0.8em;
    border-radius: 4px;

    &::after {
      @include position(absolute, null 0);
      top: -19px;
      color: transparentize($red, 0.3);
      content: "▲";
      font-size: 1.4em;
      margin-left: -8px;
      text-align: center;
    }
  }
}

#form-message {
  opacity: 0;
}

.success {
  padding: 1em;
  color: white;
  background-color: $dvblue;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 3px;
  width: 80%;
  margin: auto;
  margin-bottom: 0.75rem;
  font-weight: bold;
  text-align: center;
}

.fail {
  padding: 1em;
  color: white;
  background-color: $red;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 3px;
  width: 80%;
  margin: auto;
  margin-bottom: 0.75rem;
  font-weight: bold;
  text-align: center;
}